@{
  Layout = "_Layout";
}

<h2>Update Book</h2>
<form method="post" action="/books/@Model.GetId()/update">
  <div class="form-group">
    <label for="book-title">Book Title</label>
    <input name="book-title" type="text" class="form-control" value="@Model.GetTitle()">
  </div>
  <button class="buttony" type="submit">Update</button>
</form>
<a href="/books">Return to books page</a>
