@{
  Layout = "_Layout";
}

<h2>Details for @Model["book"].GetTitle()</h2>

<h3>Authors</h3>
@foreach (var author in @Model["authors"])
{
  <p>@author.GetFirstName() @author.GetLastName()</p>
}

<a href='/books/@Model["book"].GetId()/authors/new'>Add new author</a><br/>
<a href='/books'>Do a E.T.</a>
